* {
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #ffffe9;
}

#nav-menu {
    background-color: #ffc3ff;
}

#game {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

#game .cell {
    cursor: pointer;
    border: 1px solid rgb(66, 66, 66);
    display: flex;
    align-items: center;
}

#game .cell.clicked {
    background-color: lightblue;
}